[submodule "pywapor/collect/PROBAV/vito-download"]
	path = pywapor/collect/PROBAV/vito-download
	url = https://github.com/DHI-GRAS/vito-download.git
[submodule "pywapor/collect/PROBAV/itsybitsy"]
	path = pywapor/collect/PROBAV/itsybitsy
	url = https://github.com/DHI-GRAS/itsybitsy.git
[submodule "pywapor_notebooks"]
	path = docs/notebooks
	url = https://github.com/bertcoerver/pywapor_notebooks.git
